altgraph==0.17
auto-py-to-exe==2.7.8
bottle==0.12.19
bottle-websocket==0.2.9
codicefiscale==0.9
cx-Oracle==8.0.1
Django==2.2.10
django-admin-rangefilter==0.5.4
django-crispy-forms==1.10.0
django-generic-json-views==0.8
django-iprestrict==1.7.0
django-logentry-admin==1.0.5
django-sql-explorer==1.1.3
django-static-jquery-ui==1.12.1.1
Eel==0.12.4
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
html5lib==1.1
macholib==1.14
Pillow==7.0.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyotp==2.3.0
PyPDF2==1.26.0
pytz==2019.3
qrcode==6.1
reportlab==3.5.34
six==1.14.0
sqlparse==0.3.1
unicodecsv==0.14.1
webencodings==0.5.1
whichcraft==0.6.1
xhtml2pdf==0.2.3
XlsxWriter==1.2.8
zope.event==4.5.0
zope.interface==5.2.0
