{% extends 'base_3.html' %}
{% block content %}
  {% if validlink %}
<div class="hotel-search-form-area mb-100 mt-20">
        <div class="container">
            <div class="hotel-search-form">
              <div class="col-12 mt-30">
<div align="justify-center">
    <h3>Cambiar Contraseña</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <button type="submit" class="btn roberto-btn mb-100">Cambiar Contraseña</button>
    </form>
</div>
              </div>
          </div>
  </div>
  </div>
  {% else %}
    <p>
      Link No Valido.
    </p>

  {% endif %}
{% endblock %}