{% extends "base.html" %}
{% load static %}


{% block title %}Hotel b_IT - Habitación VIP{% endblock %}


{% block content %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/58_1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcrumb-content d-flex align-items-center justify-content-between pb-5">
                        <h2 class="room-title">Departamento Viña del Mar</h2>
                        <h2 class="room-price">$24.571 <span>/ Por Noche</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- Rooms Area Start -->
    <div class="roberto-rooms-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <!-- Single Room Details Area -->
                    <div class="single-room-details-area mb-50">
                        <!-- Room Thumbnail Slides -->
                        <div class="room-thumbnail-slides mb-50">
                            <div id="room-thumbnail--slide" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'img/bg-img/58_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/59_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/60_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/61_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/62_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                </div>

                                <ol class="carousel-indicators">
                                    <li data-target="#room-thumbnail--slide" data-slide-to="0" class="active">
                                        <img src="{% static 'img/bg-img/58_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="1">
                                        <img src="{% static 'img/bg-img/59_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="2">
                                        <img src="{% static 'img/bg-img/60_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="3">
                                        <img src="{% static 'img/bg-img/61_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="4">
                                        <img src="{% static 'img/bg-img/62_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <!-- Room Features -->
                        <div class="room-features-area d-flex flex-wrap mb-50">
                            <h6>Tamaño: <span>55 mtrs.</span></h6>
                            <h6>Capacidad: <span>Max. personas 2</span></h6>
                            <h6>Camas: <span>1 Cama</span></h6>
                            <h6>Servicios: <span>Wifi, Television, Baños, Aire acondicionado... </span></h6>
                        </div>

                        <p>Departamento amoblado (Wifi, televisión con cable) y equipado (cocina) para hacer tu día de forma normal; Ubicado a pasos del Mall Marina Arauco y Espacio Urbano en Viña del Mar, rápidos acceso como peatón a supermercados (Líder y Santa Isabel) y servicios en general (Cine, restaurant y café). Estacionamiento privado en edificio..
                        </p>

                        <ul>
                            <li><i class="fa fa-check"></i> Llegada a partir de las 14:00.</li>
                            <li><i class="fa fa-check"></i> Salida 12:00.</li>
                            <li><i class="fa fa-check"></i> No se admiten fiestas ni eventos.</li>
                            <li><i class="fa fa-check"></i> Se admiten mascotas.</li>
                            <li><i class="fa fa-check"></i> Apto para fumadores.</li>
                        </ul>


                    </div>

                    <!-- Room Service -->
                    <div class="room-service mb-50">
                        <h4>Servicios</h4>

                        <ul>
                            <li><img src="{% static 'img/core-img/icon1_1.png' %}" alt=""> Estacionamiento gratuito en las instalaciones</li>
                            <li><img src="{% static 'img/core-img/icon11_11.png' %}" alt=""> Gimnasio</li>
                            <li><img src="{% static 'img/core-img/icon3_3.png' %}" alt=""> Wi-Fi</li>
                            <li><img src="{% static 'img/core-img/icon4_4.png' %}" alt=""> Cocina</li>
                            <li><img src="{% static 'img/core-img/icon12_12.png' %}" alt=""> Piscina</li>
                            <li><img src="{% static 'img/core-img/icon6_6.png' %}" alt=""> Televisión por cable</li>
                            <li><img src="{% static 'img/core-img/icon7_7.png' %}" alt=""> Secador de Pelo</li>
                            <li><img src="{% static 'img/core-img/icon8_8.png' %}" alt=""> Plancha</li>
                            <li><img src="{% static 'img/core-img/icon_10_10.png' %}" alt=""> Zona de trabajo</li>
                        </ul>
                    </div>

                    <div class="form-group mb-30">
                        <button  class="btn roberto-btn w-100" onclick="window.location.href='../Buscar_Fecha'">Reservar</button>
                    </div>


                    <!-- Room Review -->
                    <div class="room-review-area mb-100">
                        <h4>Comentarios</h4>

                        <!-- Single Review Area -->
                        <div class="single-room-review-area d-flex align-items-center">
                            <div class="reviwer-thumbnail">
                                <img src="{% static 'img/bg-img/53.jpg' %}" alt="">
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <span>05 Nov 2020</span>
                                        <h6>Gabriel</h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Buena ubicación, le hablé en varios horarios y siempre respondió bien, muy atento.</p>
                            </div>
                        </div>


                        <!-- Single Review Area -->
                        <div class="single-room-review-area d-flex align-items-center">
                            <div class="reviwer-thumbnail">
                                <img src="{% static 'img/bg-img/54.jpg' %}" alt="">
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <span>25 Nov 2019</span>
                                        <h6>Estefania</h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Buen lugar apto para una persona o una pareja solamente, ya que es un solo ambiente. Amplio balcón con buena vista. Cerca de los malls y playas principales. Apto para mascotas, lo que nos permitió llevar a mi perrita quien no conocía el mar, por lo que fue todo muy grato.</p>
                            </div>
                        </div>

                        <!-- Single Review Area -->
                        <div class="single-room-review-area d-flex align-items-center">
                            <div class="reviwer-thumbnail">
                                <img src="{% static 'img/bg-img/55.jpg' %}" alt="">
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <span>11 Mar 2020</span>
                                        <h6>Geraldy</h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Buen ambiente, todo muy limpio y ordenado, baño impecable, lugar perfecto para 2 personas, una vista y ubicación muy buena. 100% recomendado.</p>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="container">
                        <div class="mb-30" >
                            <h3>Ubicacion</h3>
                            <span>Conoceras la ubicación exacta cuando hagas la reserva</span>
                        </div>
                        </div>
                        <div class="container" >
                        <div class="google-maps-contact-content">
                             <div class="google-maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d836.4484090834438!2d-71.54503525133923!3d-33.00921571810995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689ddc3af60b209%3A0x5fafb5c06e6916a!2sBoulevard%20del%20Sol!5e0!3m2!1ses-419!2scl!4v1606258164836!5m2!1ses-419!2scl" allowfullscreen></iframe>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

               <!-- <div class="col-12 col-lg-4">
                    <!-- Hotel Reservation Area -->
                    <!--<div class="hotel-reservation--area mb-100">
                        <form action="#" method="post">
                            <div class="form-group mb-30">
                                <label for="checkInDate">Datos</label>
                                <div class="input-daterange" id="datepicker">
                                    <div class="row no-gutters">
                                        <div class="col-6">
                                            <input type="text" class="input-small form-control" name="checkInDate" id="checkInDate" placeholder="Fecha de entrada">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="input-small form-control" name="checkOutDate" placeholder="Fecha de salida">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-30">
                                <label for="guests">Invitados</label>
                                <div class="row">
                                    <div class="col-6">
                                        <select name="adults" id="guests" class="form-control">
                                            <option value="adults">Adultos</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select name="children" id="children" class="form-control">
                                            <option value="children">Niños</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-50">
                                <div class="slider-range">
                                    <div class="range-price">Precio Maximo: $0 - $250000</div>
                                    <div data-min="0" data-max="250000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="250000" data-label-result="Precio Maximo: ">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn roberto-btn w-100">Reservar</button>
                            </div>
                        </form>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <!-- Rooms Area End -->
{% endblock %}