{% extends "base.html" %}
{% load static %}


{% block title %}Hotel b_IT - Habitación VIP{% endblock %}


{% block content %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/68_1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcrumb-content d-flex align-items-center justify-content-between pb-5">
                        <h2 class="room-title">Departamento Pucón</h2>
                        <h2 class="room-price">$18.000 <span>/ Por Noche</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- Rooms Area Start -->
    <div class="roberto-rooms-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <!-- Single Room Details Area -->
                    <div class="single-room-details-area mb-50">
                        <!-- Room Thumbnail Slides -->
                        <div class="room-thumbnail-slides mb-50">
                            <div id="room-thumbnail--slide" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'img/bg-img/68_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/69_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/70_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/71_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/72_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                </div>

                                <ol class="carousel-indicators">
                                    <li data-target="#room-thumbnail--slide" data-slide-to="0" class="active">
                                        <img src="{% static 'img/bg-img/68_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="1">
                                        <img src="{% static 'img/bg-img/69_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="2">
                                        <img src="{% static 'img/bg-img/70_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="3">
                                        <img src="{% static 'img/bg-img/71_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="4">
                                        <img src="{% static 'img/bg-img/72_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <!-- Room Features -->
                        <div class="room-features-area d-flex flex-wrap mb-50">
                            <h6>Tamaño: <span>43 mtrs.</span></h6>
                            <h6>Capacidad: <span>Max. personas 2</span></h6>
                            <h6>Camas: <span>1 Cama matrimonial</span></h6>
                            <h6>Servicios: <span>Wifi, Television, 1 Baño </span></h6>
                        </div>

                        <p>Departamento studio estilo nordico, ideal para descansar dentro de un bosque de arboles centenarios. Ideal para parejas solas.
                        </p>

                        <ul>
                            <li><i class="fa fa-check"></i> Llegada a partir de las 14:00.</li>
                            <li><i class="fa fa-check"></i> Salida 12:00.</li>
                            <li><i class="fa fa-check"></i> No se admiten fiestas ni eventos.</li>
                            <li><i class="fa fa-check"></i> Se admiten mascotas.</li>
                            <li><i class="fa fa-check"></i> Apto para fumadores.</li>
                        </ul>

                    </div>

                    <!-- Room Service -->
                    <div class="room-service mb-50">
                        <h4>Room Services</h4>

                        <ul>
                            <li><img src="{% static 'img/core-img/icon1_1.png' %}" alt=""> Estacionamiento gratuito en las instalaciones</li>
                            <li><img src="{% static 'img/core-img/icon6_6.png' %}" alt=""> Televisión por cable</li>
                            <li><img src="{% static 'img/core-img/icon3_3.png' %}" alt=""> Wi-Fi</li>
                            <li><img src="{% static 'img/core-img/icon4_4.png' %}" alt=""> Cocina</li>
                            <li><img src="{% static 'img/core-img/icon12_12.png' %}" alt=""> Piscina</li>
                            <li><img src="{% static 'img/core-img/icon6_6.png' %}" alt=""> Televisión por cable</li>
                            <li><img src="{% static 'img/core-img/icon7_7.png' %}" alt=""> Secador de Pelo</li>
                            <li><img src="{% static 'img/core-img/icon8_8.png' %}" alt=""> Plancha</li>
                            <li><img src="{% static 'img/core-img/icon_10_10.png' %}" alt=""> Zona de trabajo</li>
                        </ul>
                    </div>

                    <!-- Room Review -->
                    <div class="room-review-area mb-100">
                        <h4>Room Review</h4>

                        <!-- Single Review Area -->
                        <div class="single-room-review-area d-flex align-items-center">
                            <div class="reviwer-thumbnail">
                                <img src="{% static 'img/bg-img/53.jpg' %}" alt="">
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <span>12 Feb 2020</span>
                                        <h6>Felipe</h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </div>
                                </div>
                                <p>Muy buen lugar, todo Okay. Pero mucho mejor si van en auto, ya que los Uber o transporte en general no suben hasta el condominio a buscarte, tuvimos que bajar a pie todos los días (aprox 35min. caminando). Del centro hasta el condominio ningún problema, pero de bajada no te toman.</p>
                            </div>
                        </div>

                        <!-- Single Review Area -->
                        <div class="single-room-review-area d-flex align-items-center">
                            <div class="reviwer-thumbnail">
                                <img src="{% static 'img/bg-img/54.jpg' %}" alt="">
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <span>03 Mar 2020</span>
                                        <h6>Evelyn</h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>100% recomendable,,muy acogedor todo impecable y con lo necesario para pasar un grato fin de semana..</p>
                            </div>
                        </div>

                        <!-- Single Review Area -->
                        <div class="single-room-review-area d-flex align-items-center">
                            <div class="reviwer-thumbnail">
                                <img src="{% static 'img/bg-img/55.jpg' %}" alt="">
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <span>27 Feb 2020</span>
                                        <h6>Emillie</h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Alojamiento especial para alejarse de la ciudad , con áreas verdes y hermosos paisajes además de la comodidad que ofrece el departamento.</p>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="container">
                        <div class="mb-30" >
                            <h3>Ubicacion</h3>
                            <span>Conoceras la ubicación exacta cuando hagas la reserva</span>
                        </div>
                        </div>
                        <div class="container" >
                        <div class="google-maps-contact-content" style="Width:1070px">
                             <div class="google-maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5193.322753782554!2d-71.98338764435319!3d-39.28897205437213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96147f37243a9abf%3A0xf4ba41db6f6455d7!2sCamino%20Al%20Volcan%2C%20Pucon%2C%20Puc%C3%B3n%2C%20Araucan%C3%ADa!5e0!3m2!1ses-419!2scl!4v1606256861851!5m2!1ses-419!2scl" allowfullscreen></iframe>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-lg-4">
                    <!-- Hotel Reservation Area -->
                    <div class="hotel-reservation--area mb-100">
                        <form action="#" method="post">{% csrf_token %}
                            <div class="form-group mb-30">
                                <label for="checkInDate">Datos</label>
                                <div class="input-daterange" id="datepicker">
                                    <div class="row no-gutters">
                                        <div class="col-6">
                                            <input type="text" class="input-small form-control" name="checkInDate" id="checkInDate" placeholder="Fecha de entrada">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="input-small form-control" name="checkOutDate" placeholder="Fecha de salida">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-30">
                                <label for="guests">Invitados</label>
                                <div class="row">
                                    <div class="col-6">
                                        <select name="adults" id="guests" class="form-control">
                                            <option value="adults">Adultos</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select name="children" id="children" class="form-control">
                                            <option value="children">Niños</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group mb-50">
                                <div class="slider-range">
                                    <div class="range-price">Precio Maximo: $0 - $250000</div>
                                    <div data-min="0" data-max="250000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="250000" data-label-result="Precio Maximo: ">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn roberto-btn w-100">Reservar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rooms Area End -->
{% endblock %}