{% extends "base.html" %}
{% load static %}


{% block title %}Hotel b_IT - Habitación VIP{% endblock %}


{% block content %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/50_1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcrumb-content d-flex align-items-center justify-content-between pb-5">
                        <h2 class="room-title">Departamento Iquique</h2>
                        <h2 class="room-price">$56.500 <span>/ Por Noche</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- Rooms Area Start -->
    <div class="roberto-rooms-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <!-- Single Room Details Area -->
                    <div class="single-room-details-area mb-50">
                        <!-- Room Thumbnail Slides -->
                        <div class="room-thumbnail-slides mb-50">
                            <div id="room-thumbnail--slide" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'img/bg-img/48_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/49_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/50_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/51_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'img/bg-img/52_1.jpg' %}" class="d-block w-100" alt="">
                                    </div>
                                </div>

                                <ol class="carousel-indicators">
                                    <li data-target="#room-thumbnail--slide" data-slide-to="0" class="active">
                                        <img src="{% static 'img/bg-img/48_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="1">
                                        <img src="{% static 'img/bg-img/49_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="2">
                                        <img src="{% static 'img/bg-img/50_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="3">
                                        <img src="{% static 'img/bg-img/51_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                    <li data-target="#room-thumbnail--slide" data-slide-to="4">
                                        <img src="{% static 'img/bg-img/52_1.jpg' %}" class="d-block w-100" alt="">
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <!-- Room Features -->
                        <div class="room-features-area d-flex flex-wrap mb-50">
                            <h6>Tamaño: <span>50 mtrs.</span></h6>
                            <h6>Capacidad: <span>Max. personas 5</span></h6>
                            <h6>Camas: <span>4 Camas </span></h6>
                            <h6>Servicios: <span>Wifi, Television, Baños, Gimnasio... </span></h6>
                        </div>

                        <p>Ubicado en Primera Línea. - A 1 kilómetro del mall. - 600 metros de supermercado jumbo. - 250 metros de farmacia y combustible. - 12 minutos en vehículo hasta zofri. - Diversos restoranes y Pub alrededor del edificio. Frente al edificio juego para niños y playa. Cuenta con: Dos dormitorios 1er dormitorio con 1 cama de 2 plazas y baño suite y walk-in closet. 2do dormitorio con una litera de 1 plaza y una cama de 1 plaza y media Living con fotón, tv con cable, Wifi y juego de comedor, terraza, cocina y estacionamiento privado (Sobre el Estacionamiento, este es pequeño, si vienen en un vehículo muy grande, Camionetas doble cabina, sera difícil el estacionar, pero igual se puede, solo que cuesta mucho). piscina al aire libre en altura con vista al mar, gimnasio, plaza privada.
                        </p>

                        <ul>
                            <li><i class="fa fa-check"></i>Llegada a partir de las 15:00.</li>
                            <li><i class="fa fa-check"></i> Salida 12:00.</li>
                            <li><i class="fa fa-check"></i> No se admiten fiestas ni eventos.</li>
                            <li><i class="fa fa-check"></i>Admite mascotas.</li>
                            <li><i class="fa fa-check"></i>Apto para fumadores.</li>
                        </ul>


                    </div>

                    <!-- Room Service -->
                    <div class="room-service mb-50">
                        <h4>Servicios</h4>

                        <ul>
                            <li><img src="{% static 'img/core-img/icon1_1.png' %}" alt=""> Estacionamiento gratuito en las instalaciones</li>
                            <li><img src="{% static 'img/core-img/icon2_2.png' %}" alt=""> Ascensor</li>
                            <li><img src="{% static 'img/core-img/icon3_3.png' %}" alt=""> Wi-Fi</li>
                            <li><img src="{% static 'img/core-img/icon4_4.png' %}" alt=""> Cocina</li>
                            <li><img src="{% static 'img/core-img/icon5_5.png' %}" alt=""> Ganchos para ropa</li>
                            <li><img src="{% static 'img/core-img/icon6_6.png' %}" alt=""> Televisión por cable</li>
                            <li><img src="{% static 'img/core-img/icon7_7.png' %}" alt=""> Secador de Pelo</li>
                            <li><img src="{% static 'img/core-img/icon8_8.png' %}" alt=""> Plancha</li>
                            <li><img src="{% static 'img/core-img/icon9_9.png' %}" alt=""> Detector de Humo</li>
                        </ul>
                    </div>

                    <div class="form-group mb-30">
                        <button  class="btn roberto-btn w-100" onclick="window.location.href='../Buscar_Fecha'">Reservar</button>
                    </div>


                    <!-- Room Review -->
                    <div class="room-review-area mb-100">
                        <h4>Comentarios</h4>

                        <!-- Single Review Area -->
                        <div class="single-room-review-area d-flex align-items-center">
                            <div class="reviwer-thumbnail">
                                <img src="{% static 'img/bg-img/53.jpg' %}" alt="">
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <span>27 Aug 2019</span>
                                        <h6>Manuel</h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Excelente departamento, con todo lo necesario para una estadía totalmente agradable. Buena ubicación y espectacular vista, 100% recomendado.</p>
                            </div>
                        </div>

                        <!-- Single Review Area -->
                        <div class="single-room-review-area d-flex align-items-center">
                            <div class="reviwer-thumbnail">
                                <img src="{% static 'img/bg-img/54.jpg' %}" alt="">
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <span>02 Feb 2019</span>
                                        <h6>María Francisca</h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Para los que elijan este depto. les puedo contar que la vista es hermosa, la locomoción es accesible y rápida, un edificio limpio y de buena atención. Recomendable 100 %</p>
                            </div>
                        </div>

                        <!-- Single Review Area -->
                        <div class="single-room-review-area d-flex align-items-center">
                            <div class="reviwer-thumbnail">
                                <img src="{% static 'img/bg-img/55_1.jpg' %}" alt="">
                            </div>
                            <div class="reviwer-content">
                                <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                    <div class="reviwer-title">
                                        <span>15 Mar 2020</span>
                                        <h6>Cristian</h6>
                                    </div>
                                    <div class="reviwer-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>El departamento tiene una vista maravillosa. La terraza es muy amplia especial para disfrutar de la vista. La temperatura dentro se mantiene fresca. El equipamiento es excelente con todo lo necesario para disfrutas la estadía...con detalles como dos tipos de copas, varios tipos de vasos, muchos accesorios de cocina. El departamento en si está muy bien equipado. La limpieza excelente, todo limpio. La seguridad del edificio muy nueva y el personal muy amable... 100 % recomendado</p>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="container">
                        <div class="mb-30" >
                            <h3>Ubicacion</h3>
                            <span>Conoceras la ubicación exacta cuando hagas la reserva</span>
                        </div>
                        </div>
                        <div class="container" >
                        <div class="google-maps-contact-content" style="Width:1070px">
                             <div class="google-maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2226.0876791132832!2d-70.1496559231571!3d-20.224870207858405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9152f363f8369935%3A0x2a57aaaea9c94930!2sIquique%2C%20Tarapac%C3%A1!5e0!3m2!1ses-419!2scl!4v1606258514876!5m2!1ses-419!2scl" allowfullscreen></iframe>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-12 col-lg-4">
                    <!-- Hotel Reservation Area -->
                    <!--<div class="hotel-reservation--area mb-100">
                        <form action="#" method="post">
                            <div class="form-group mb-30">
                                <label for="checkInDate">Datos</label>
                                <div class="input-daterange" id="datepicker">
                                    <div class="row no-gutters">
                                        <div class="col-6">
                                            <input type="text" class="input-small form-control" name="checkInDate" id="checkInDate" placeholder="Fecha de entrada">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="input-small form-control" name="checkOutDate" placeholder="Fecha de salida">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-30">
                                <label for="guests">Invitados</label>
                                <div class="row">
                                    <div class="col-6">
                                        <select name="adults" id="guests" class="form-control">
                                            <option value="adults">Adultos</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select name="children" id="children" class="form-control">
                                            <option value="children">Niños</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-50">
                                <div class="slider-range">
                                    <div class="range-price">Precio Maximo: $0 - $250000</div>
                                    <div data-min="0" data-max="250000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="250000" data-label-result="Precio Maximo: ">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn roberto-btn w-100">Reservar</button>
                            </div>
                        </form>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <!-- Rooms Area End -->
{% endblock %}